<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'AppTemplate/css/style.css' %}">
    <title>Games Page!</title>
</head>
<body id="wrapping">
    <h2>  My Favorite Games :) !</h2>
    <ul>
        {% for game in fav %}
            <li>{{game}}</li>
        {% endfor %}
    </ul>
</body>
</html>